<a href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}">
    {{- with .Site.Params.header.title -}}
        {{- with .logo -}}
            {{- dict "Src" . "Class" "logo" | partial "plugin/image.html" -}}
        {{- end -}}
        {{- with .pre -}}
            <span class="header-title-pre">{{ . | safeHTML }}</span>
        {{- end -}}
        {{- if .typeit -}}
            {{- $id := dict "Content" .name "Scratch" $.Scratch | partial "function/id.html" -}}
            <span id="{{ $id }}" class="typeit"></span>
            {{- dict $id (slice $id) | dict "typeitMap" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
        {{- else -}}
            {{- .name -}}
        {{- end -}}
        {{- with .post -}}
            <span class="header-title-post">{{ . | safeHTML }}</span>
        {{- end -}}
    {{- else -}}
        {{- .Site.Title -}}
    {{- end -}}
</a>