# ----------------------------------------------------------------
# wk .gitignore
# https://github.com/github/gitignore
# https://www.toptal.com/developers/gitignore
# ----------------------------------------------------------------
# custom spec
None.*

# ----------------------------------------------------------------
# wk common default
*_gig*
*_bak*

.*
_*
*_
*_.*

/data*
/log*
/out*

*.log
*.txt
*.csv
*.des
!/.gitignore*

# jetbrain
.idea/
*.iml
.DS_Store


# ----------------------------------------------------------------
# java
*.class
target/
*.jar

# ----------------------------------------------------------------
# python
!__*__.py
venv/
__pycache__
*.pyc
.pytest_cache


# ----------------------------------------------------------------
# spark
derby.log
metastore_db
spark-warehouse

# ----------------------------------------------------------------
# ----------------------------------------------------------------

# Hugo default output directory
public/
/exampleSite/resources/
/exampleSite/.hugo_build.lock

node_modules/
build/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
