{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Title */ -}}
    <h1 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
    </h1>

    {{- /* Meta */ -}}
    <div class="post-meta">
        <!--{{- partial "cus/summary/author.html" . -}}-->
        {{- partial "cus/summary/date.html" . -}}
        {{- partial "cus/summary/list_category.html" . -}}
        {{- partial "cus/summary/list_tag.html" . -}}
    </div>


    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/img.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Summary content */ -}}
    <a href="{{ .RelPermalink }}" class="headerLink" style="opacity: 0.6;">
        {{- with .Summary -}}
            {{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
            &nbsp;&nbsp; ...
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}
    </a>

    {{- /* Footer */ -}}
    <div class="post-footer">
        <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
        <div style="opacity: 0.4">
            {{- partial "cus/summary/word_count.html" . -}}
        </div>
    </div>
</article>