.archive {
  .single-title {
    text-align: left;
  }

  .group-title {
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";
}
