@media only screen and (max-width: 959px) {
  .toc {
    height: 0;
    display: None;
  }
  #toc-auto {
    height: 0;
    display: none;
  }
  #toc-static {
    height: 0;
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .toc {
    .toc-title {
      //font-size: var(--toc-title-font-size);
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $global-font-color;
      border-bottom: 1px dashed $global-border-color;

      [theme=dark] & {
        color: $global-font-color-dark;
        border-bottom: 1px dashed $global-border-color-dark;
      }
    }

    .toc-content {
      //font-size: var(--toc-content-font-size);
      font-size: 0.8rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      ul {
        text-indent: -0.85rem;
        padding-left: .8rem;
        list-style: none;

        a:first-child::before {
          //content: ".";
          font-weight: bolder;
          margin-right: .2rem;
          color: $single-link-color;

          [theme=dark] & {
            color: $single-link-color-dark;
          }
        }

        ul {
          padding-left: 0.8rem;
        }
      }
    }

    ruby {
      background: $code-background-color;

      rt {
        color: $global-font-secondary-color;
      }

      [theme=dark] & {
        background: $code-background-color-dark;

        rt {
          color: $global-font-secondary-color-dark;
        }
      }
    }
  }

  #toc-auto {
    display: block;
    position: absolute;
    //width: $MAX_LENGTH;
    width: 16%;
    //max-width: 0;
    margin: 2rem;
    //border-right: 1px solid $global-border-color;
    @include overflow-wrap(break-word);
    box-sizing: border-box;
    //top: 10rem;
    left: 0 !important; // !important to move to left
    visibility: hidden;

    [data-header-desktop=normal] & {
      top: 5rem;
    }

    @include blur;

    [theme=dark] & {
      border-left-color: $global-border-color-dark;
    }

    .toc-title {
      margin: .8rem 0;
    }

    .toc-content {
      &.always-active ul {
        display: block;
      }

      > nav > ul {
        margin: .625rem 0;
      }

      ul {
        ul {
          //display: none;
        }

        .has-active > ul {
          display: block;
        }
      }

      a.active {
        font-weight: bold;
        color: $single-link-color;

        [theme=dark] & {
          color: $single-link-color-dark;
        }

        &::before {
          color: $single-link-hover-color;

          [theme=dark] & {
            color: $single-link-hover-color-dark;
          }
        }
      }
    }
  }

  #toc-static {
    display: none;
    margin: .8rem 0;

    &[data-kept=true] {
      display: block;
    }

    .toc-title {
      display: flex;
      justify-content: space-between;
      line-height: 2em;
      padding: 0 .75rem;
      background: darken($code-background-color, 6%);

      [theme=dark] & {
        background: darken($code-background-color-dark, 6%);
      }
    }

    .toc-content {
      background-color: $code-background-color;

      > nav > ul {
        margin: 0;
        padding: .4rem 1rem .4rem 1.8rem;
      }

      [theme=dark] & {
        background-color: $code-background-color-dark;
      }
    }

    &.open {
      .toc-title {
        background: darken($code-background-color, 3%);

        [theme=dark] & {
          background: darken($code-background-color-dark, 3%);
        }
      }
    }
  }
}
