{{- /* Paginate 归档和分类归档 */ -}}
{{- if .Pages -}}
    {{- $pages := .Pages.GroupByDate "2006" -}}
    {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
        {{- $pages = .Paginate $pages -}}
    {{- end -}}
    {{- range $pages.PageGroups -}}
        {{- $newYearPages := (len .Pages) -}}
        {{- $newYearKey := .Key -}}
        <!--<h3 class="group-title">{{ .Key }}<sup style="padding-left: 0.2rem;color: #999;">{{ (len .Pages) }}</sup></h3>-->
        {{- $pages2 := .Pages.GroupByDate "01" -}}
        {{- range $pages2 -}}
            <!--<div>{{ .Key }}<sup style="color: #999;">{{ (len .Pages) }}</sup></div>-->
            {{- $newMonthPages := (len .Pages) -}}
            {{- $newMonthKey := .Key -}}
            {{- range .Pages -}}
                <article class="archive-item" style="overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;">
                    <span class="archive-item2" style="text-overflow: ellipsis;">
                        <span style="width: 3.3em;font-weight: bold">{{ $newYearKey }}<sup style="color: #999;">{{ $newYearPages }}</sup></span>
                        <span style="width: 2em">{{ $newMonthKey }}<sup style="color: #999;">{{ $newMonthPages }}</sup></span>

                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                        <a href="{{ .RelPermalink }}" class="archive-item-link" title="{{- .Title -}}">{{- .Title -}}</a>
                    </span>
                    <span style="margin-left:1rem;opacity: 24%; font-size: 80%">
                        {{- partial "cus/summary/list_category.html" . -}}
                        {{- partial "cus/summary/list_tag.html" . -}}
                    </span>
                    {{- $newYearKey = "" -}}
                    {{- $newYearPages = "" -}}
                    {{- $newMonthKey = "" -}}
                    {{- $newMonthPages = "" -}}
                </article>
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- partial "paginator.html" . -}}
{{- end -}}