{{- /* single是单个页面, 定义了页面的布局 */ -}}
{{- /* 分为_default/single和posts/single */ -}}
{{- /* 也可以自定义创建archives/single */ -}}
{{- /* head格式如下: */ -}}
{{- /* title: "归档"\ntype: archives */ -}}
{{- /* 这里默认(没有指定)的页面布局使用posts/single */ -}}

{{- $params := .Scratch.Get "params" -}}

{{- partial "cus/summary/toc.html" . -}}

<article class="page single">
    {{- /* Title */ -}}
    <h1 class="single-title animate__animated animate__flipInX">{{ .Title | emojify }}</h1>

    {{- /* Subtitle */ -}}
    {{- with $params.subtitle -}}
        <h2 class="single-subtitle">{{ . }}</h2>
    {{- end -}}

    {{- /* Meta */ -}}
    <div class="post-meta">
        <div class="post-meta-line">
            {{- partial "cus/summary/list_category.html" . -}}
            {{- partial "cus/summary/list_tag.html" . -}}
        </div>
        <div class="post-meta-line">
            {{- partial "cus/summary/date.html" . -}}
            {{- partial "cus/summary/word_count.html" . -}}
            {{- partial "cus/summary/viewer_count.html" . -}}
        </div>
    </div>

    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image">
            {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/img.html" -}}
        </div>
    {{- end -}}

    {{- /* Content */ -}}
    <div class="content" id="content">
        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>

    {{- /* Footer */ -}}
    {{- partial "single/footer.html" . -}}

    {{- /* Comment */ -}}
    {{- partial "comment.html" . -}}
</article>